@page "/login"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NavigationManager

<h3>Login</h3>

<table>
    <thead>
        <tr><td></td></tr>
    </thead>
    <tbody>
        <tr>
            <td>Username:</td>
            <td><input type="text" @bind-value="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" @bind-value="password" /></td>
        </tr>
    </tbody>
</table>
<button @onclick="LoginUser">Login</button>

@code {
    private HttpContext httpContext;
    private string username;
    private string password;

    protected override void OnInitialized()
    {
        httpContext = httpContextAccessor.HttpContext;
    }

    private async Task LoginUser()
    {
        if (!string.IsNullOrWhiteSpace(username) && !string.IsNullOrWhiteSpace(password))
        {
            var identity = new ClaimsIdentity("password");
            identity.AddClaim(new Claim(ClaimTypes.Name, username.ToLower()));
            identity.AddClaim(new Claim(ClaimTypes.Role, "admin"));
            var principal = new ClaimsPrincipal(identity);
            var authProperties = new AuthenticationProperties();
            await httpContext.SignInAsync(
              CookieAuthenticationDefaults.AuthenticationScheme,
              principal,
              authProperties);

            NavigationManager.NavigateTo("/");
        }
    }
}
